.banner {
  position: relative;
  overflow: hidden;
  max-height: 24em;
  background-image: url("images/dog-banner.jpg");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}

.banner-content {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 60%;
  display: block;
}
