.banner {
  position: relative;
  overflow: hidden;
  max-height: 24em;
  background-image: url("images/dog-banner.jpg");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}

.banner-content {
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 0;
  display: block;
}

.title {
  color: #488fa8;
}
