:root {
  --color-primary: #0D2E3D;
  --color-primary-ligt: #0F6CA0;
  --color-secondary: #FFF;
  --color-accent: #F6C53C;
  --color-neutral-grey: #82817D;

  --font-primary: "Lato", "Roboto", Open Sans, sans-serif;
  --font-secondary: "Julius Sans", Oxygen, Source Sans Pro, monospace;
}

html {
  font-family: var(--font-primary);
}
