:root {
  --color-primary: #0d2e3d;
  --color-primary-ligt: #0f6ca0;
  --color-secondary: #fff;
  --color-accent: #f6c53c;
  --color-neutral-grey: #82817d;

  --font-primary: "Lato", "Roboto", open sans, sans-serif;
  --font-secondary: "Julius Sans", oxygen, source sans pro, monospace;
}

html {
  font-family: var(--font-primary);
}
