:root {
  --color-primary: #1b5160;
  --color-primary-light: #488fa8;
  --color-secondary: #fff;
  --color-accent: #fcbc1d;
  --color-accent-light: #f4d590;
  --color-neutral-grey: #82817d;

  --font-primary: "Lato", "Roboto", open sans, sans-serif;
  --font-secondary: "Julius Sans", oxygen, source sans pro, monospace;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary);
}

h2 {
  color: var(--color-primary);
}

h3 {
  color: var(--color-primary-light);
}

h4 {
  color: var(--color-neutral-grey);
}

a {
  color: var(--color-primary-light);
}

ul {
  color: var(--color-neutral-grey);
}

ol {
  color: var(--color-neutral-grey);
}

dl {
  color: var(--color-neutral-grey);
}

cite {
  color: var(--color-primary-light);
}

blockquote {
  color: var(--color-primary-light);
}

mark {
  background-color: var(--color-accent-light);
}

u {
  color: var(--color-neutral-grey);
}
